.ql-container.ql-snow {
  border: none !important;
}

.ant-layout-sider {
  background: #b9bebb3d !important;
  min-width: 100px !important;
  max-width: 150px !important;
}

.fieldTypeOpt {
  cursor: pointer;
  background: #d3d3d369;
  width: 90%;
  padding: 5px 8px;
  border-radius: 8px;
}
